@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%)
        contrast(104%);
    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow-color: rgba(0, 0, 0, 0.2);
    --top-act-group-separate-color: #ededf6;

    //Dropdown
    --dropdown-bg-color: #292e39;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(1719%) hue-rotate(183deg) brightness(91%)
        contrast(85%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(92%) sepia(33%) saturate(176%) hue-rotate(261deg)
        brightness(106%) contrast(96%);
    --menu-column-text-color: #b9babe;
    --menu-column-heading-hover-color: #fff;

    //Sidebar
    --sidebar-bg-color: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);
    --sidebar-btn-color: #b9babe;
    --sidebar-item-link-color: #b9babe;
    --sidebar-icon-color: brightness(0) saturate(100%) invert(71%) sepia(80%) saturate(12%) hue-rotate(219deg) brightness(90%)
        contrast(93%);

    @include abstracts.breakpoint(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }
}
